*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    border: 1px black solid;
    padding: 1em;
    margin-bottom: 1em;
    text-align: left;
    background-color: rgb(118, 0, 139);
    color: white;
}
footer{
    border: 1px black solid;
    padding: 1em;
    margin-top: 1em;
    font-size: large;
    text-align: center;
    background-color: rgb(112, 25, 73);
    color: white;
}
p{
    padding-top: 10px;
    padding-bottom: 10px;
}

main{
    display:flex;
    flex-direction: row;
    justify-content: center;
    gap: 1em;
}

a{
    color:lightslategrey
}
.vista-previa{
    border: 1px black solid;
    padding: 1em;
    width: 16em;
}

.personalizacion{
    border: 1px black solid;
    padding: 1em;
    width: 22em;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    row-gap: 1em;
}
#color{
    width: 100%;
    height: 2em;
    font-size: 0.9em;
    text-align: center;
}
.direccion{
    display: flex;
    justify-content: space-around;
    gap: 1em;
}


.restablecer{
    background-color: white;
    color: black;
}

.darkred{
    background-color: darkred;
    color: white;
}

.darkgreen{
    background-color: darkgreen;
    color: white;
}

.midnightblue{
    background-color: midnightblue;
    color: white;
}